              <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="thumbnail deals packagesPage">
                  <img src="img/home/deal/deal-01.jpg" alt="deal-image">
                  <div class="discountInfo">
                    <div class="discountOffer">
                      <h4>
                        50%<span>OFF</span>
                      </h4>
                    </div>
                    <ul class="list-inline rating homePage">
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    </ul>
                    <ul class="list-inline duration">
                      <li class='date-up'>7 <i class="fa fa-calendar"></i></li>
                      <li>7 <i class="fa fa-comment"></i></li>
                      <li>15 <i class="fa fa-bookmark"></i></li>
                      <li>15 <i class="fa fa-cutlery"></i></li>

                    </ul>
                  </div>
                  <div class="caption">
                    <h4><a href="single-package-left-sidebar.html" class="captionTitle">San Fu Lou - Cantones ...</a></h4>
                    <span><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i></a>  195 - 197 Phan Xích Long, P. 2, Quận Phú Nhuận</span>
                    <p>Integer purus ex, dictum nec elementum eu, tristique vel lectus. Donec rutrum lectus e.</p>
                    <div class="detailsInfo">
                      <h5>
                        <span>Dating</span>
                        4 <i class="fa fa-calendar"></i>
                      </h5>
                      <ul class="list-inline detailsBtn">
                        <li></li>
                        <li><a href="#" class="btn buttonTransparent">Details</a></li>
                        <li><a href="#" class="btn buttonTransparent"><i class="fa fa-bookmark" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>