          <div class="col-sm-3 col-xs-12 blogSidebar">
            <aside>
              <div role="tabpanel" class="tabArea">
                
                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-justified" role="tablist">
                  <li role="presentation" class="active">
                    <a href="#recent" aria-controls="recent" role="tab" data-toggle="tab">Popular</a>
                  </li>
                  <li role="presentation">
                    <a href="#popular" aria-controls="popular" role="tab" data-toggle="tab">Nearby</a>
                  </li>
                  <li role="presentation">
                    <a href="#new" aria-controls="new" role="tab" data-toggle="tab">Saved</a>
                  </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="recent">
                    <div class="media">
                      <a class="media-left" href="#">
                        <img class="media-object" src="img/blog/tab-01.png" alt="Image">
                      </a>
                      <div class="media-body">
                        <a href="#" class="media-heading">Totam Rem Aperiam Eaque.</a>
                        <p><i class="fa fa-calendar" aria-hidden="true"></i>5 March, 2016</p>
                      </div>
                    </div>
                    <div class="media">
                      <a class="media-left" href="#">
                        <img class="media-object" src="img/blog/tab-02.png" alt="Image">
                      </a>
                      <div class="media-body">
                        <a href="#" class="media-heading">Totam Rem Aperiam Eaque.</a>
                        <p><i class="fa fa-calendar" aria-hidden="true"></i>5 March, 2016</p>
                      </div>
                    </div>
                    <div class="media">
                      <a class="media-left" href="#">
                        <img class="media-object" src="img/blog/tab-03.png" alt="Image">
                      </a>
                      <div class="media-body">
                        <a href="#" class="media-heading">Totam Rem Aperiam Eaque.</a>
                        <p><i class="fa fa-calendar" aria-hidden="true"></i>5 March, 2016</p>
                      </div>
                    </div>
                    <div class="media removeMargin">
                      <a class="media-left" href="#">
                        <img class="media-object" src="img/blog/tab-04.png" alt="Image">
                      </a>
                      <div class="media-body">
                        <a href="#" class="media-heading">Totam Rem Aperiam Eaque.</a>
                        <p><i class="fa fa-calendar" aria-hidden="true"></i>5 March, 2016</p>
                      </div>
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="popular">Popular</div>
                  <div role="tabpanel" class="tab-pane" id="new">New</div>
                </div>
                
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">Categories</div>
                <div class="panel-body">
                  <div class="list-group">
                    <a href="#" class="list-group-item">Business<span class="badge">(9)</span></a>
                    <a href="#" class="list-group-item">Design<span class="badge">(7)</span></a>
                    <a href="#" class="list-group-item">Photography<span class="badge">(5)</span></a>
                    <a href="#" class="list-group-item">Creative<span class="badge">(7)</span></a>
                    <a href="#" class="list-group-item">Wordpress<span class="badge">(6)</span></a>
                  </div>
                </div>
              </div>
            </aside>
          </div>